---
import type { Job } from "../../resume-schema";

interface Props {
  jobs: Job[];
}

const { jobs } = Astro.props;
---

{
  jobs.length && (
    <div class="space-y-4 text-sm sm:text-base">
      {jobs.map((job) => (
        <section>
          <div class="text-primary brightness-75 flex flex-wrap justify-between items-baseline">
            <h3 class="font-semibold">{job.title}</h3>
            <span>{job.period}</span>
          </div>
          <div class="text-primary brightness-75 flex flex-wrap justify-between items-baseline">
            <span>{job.company}</span>
            <span>{job.location}</span>
          </div>
          <ul class="list-disc list-outside pl-4 space-y-2 mt-2">
            {job.achievements.map((achievement) => (
              <li>{achievement}</li>
            ))}
          </ul>
        </section>
      ))}
    </div>
  )
}
