---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/ResumeSection.astro";

import Contact from "../components/resume/contact.astro";
import Skills from "../components/resume/skills.astro";
import Jobs from "../components/resume/jobs.astro";
import Projects from "../components/resume/projects.astro";
import Degrees from "../components/resume/degrees.astro";

import { ResumeSchema } from "../resume-schema";
import RESUME_YAML from "../resume-versions/base.yml";

const RESUME = ResumeSchema.parse(RESUME_YAML);
---

<Layout title="Resume - Phillip Dupuis" description="Phillip Dupuis' resume">
  <main class="min-h-screen">
    <div class="max-w-4xl mx-auto space-y-6 py-8 px-6 sm:px-2">
      <Section aria-label="Contact info">
        <Contact contact={RESUME.contact} />
      </Section>
      <Section label="ABOUT">
        <p class="text-sm sm:text-base whitespace-pre-line">
          {RESUME.about}
        </p>
      </Section>
      <Section label="SKILLS">
        <Skills skills={RESUME.skills} />
      </Section>

      <Section label="EXPERIENCE">
        <Jobs jobs={RESUME.jobs} />
      </Section>

      <Section label="PROJECTS">
        <Projects projects={RESUME.projects} />
      </Section>

      <Section label="EDUCATION">
        <Degrees degrees={RESUME.degrees} />
      </Section>
    </div>
  </main>
</Layout>
