---
import "../base.css";

import Nav from "../components/Nav.astro";

interface Props {
  /** Title for the site */
  title: string;
  /** Meta description for SEO */
  description: string;
  /** Author of the site */
  author?: string;
  /** Keywords for SEO */
  keywords?: string[];
}

const DEFAULT_AUTHOR = "Phillip Dupuis";
const DEFAULT_KEYWORDS = [
  "phillipdupuis",
  "React",
  "TypeScript",
  "Python",
  "Senior",
  "Software",
  "Engineer",
  "AI",
  "ML",
  "Kubernetes",
  "Docker",
  "Azure",
  "ChatGPT",
  "Claude",
  "Boston",
  "Cambridge",
];

const { title, description } = Astro.props;
const author = Astro.props.author || DEFAULT_AUTHOR;
const keywords = [
  ...new Set([...DEFAULT_KEYWORDS, ...(Astro.props.keywords || [])]),
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords?.join(", ")} />
    <!-- Facebook Open Graph -->
    <meta name="og:description" content={description} />
    <meta name="og:title" content={title} />
    <meta name="og:url" content={Astro.url} />
    <meta name="og:type" content="article" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={Astro.url} />
    <meta name="twitter:image" content="" />
    <!-- Initialize dark mode -->
    <script is:inline>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
      );
    </script>
  </head>
  <body class="w-full">
    <Nav />
    <slot />
  </body>
</html>
